/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

html{

    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 17px;
    font-family: "Roboto", sans-serif;

}

img{
    width: 100% ;
    
}

 h1{
    font-size: 70px;
 }
 h2{
    font-size: 40px;
 }
 h3{

    font-size: 30px;
 }

 .container{
    width: 90%;
    margin: auto;
}

section{
    padding: 50px 0;
}

header{
    background-image: url(../images/sunrise.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0);
}

nav{
   
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

nav h4 {
    color: white;
    font-size: 24px;
}
nav h4 span{
    font-weight: 100;
    background-color: rgba(255, 0, 0, 0);
    height: 0px;
    width: 0px;

}
nav ul{
   
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
nav ul li{margin: 0 0 0 20px;}
nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-weight: 600;
}

/* banner section */
.banner{

    padding: 200px 0 150px;
    text-align: center;
    color: white;
}
.banner h3{
    
    font-style: italic;
    margin: 0 0 10px 0;
}
span{
   
    background-color: red;
    height: 5px;
    width: 160px;
    display: inline block;
    border-radius: 10px;
}

.banner button{
    background-color: #d74f4f;
    color: wheat;
    padding: 15px 30px;
    font-size: 20px;
    letter-spacing: 2px;
    border: 1px solid;
    border-radius: 15px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.banner button:hover{
    background-color: #d74f4f00;
    letter-spacing: 3px;
}


/* upcoming event section */
 .event-main{
    text-align: center;
 }
 .event-main h2{
    margin: 0;
    font-size: 40px;
 }


 .event{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 30px auto 0;
 }
 .event-box{
    width: 50%;
   -o-object-fit: cover;
      object-fit: cover;
    margin: 15px;
   
 }
 .event-box img{
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 12.95px 12.95px 2.6px;
            box-shadow: rgba(0, 0, 0, 0.15) 12.95px 12.95px 2.6px;
}
 .event-box h4{
    font-size: 20px;
    margin: 25px 0 20px 0;
}
 .event-box p {}
 .event-box a {
    color: red;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
}

/* Explore the world */
.explore-section{

    background-image: url(../images/father.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 255, 0.486);
    color: aliceblue;
    background-attachment: fixed;
}
.explore-main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.explore{
    width: 50%;
}
.explore h1{
    margin-bottom: 0;
}

.explore p{ margin: 4opx 0;

}
.explore a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
}
/* TOURS & DESTINATION */
.tour-main{ 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
}

.tour{
    padding: 14px;
}
.tour h3{ margin: 0px;}
.tour p{ margin: 30px 0;
}
.tour a {}
.tour img {}
.small{
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 0 20px 0;
}
.large{
    height: 370px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 0 20 0px;
}
/* footer */
footer {background-color: black;
    color: white;
    padding: 60px 0;
    text-align: center;

}

.fab{ 
    font-size: 40px;
    color: white;
    margin: 10px;
}


/* scroll bar start */
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.575) ;
            box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.575) ; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.767); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(128, 128, 128, 0.534); 
  }

  /* scroll bar end */

  /*  small  phone,medium phone and large phone= 0 => 600px and down */

  @media only screen and ( max-width:600px){
   h1{ 
    font-size:30px ;
   }

   h2{
    font-size:25px ;
   }
   h3{
    font-size:20px ;
   }
   .container{
    width: 96%;
   
   }
   section{
    padding:50px 0 ;
   }

   header{
   
    
  }

  nav{
    display: block;
   
}

nav h4{
      font-size: 20px;
      margin: 0;
      text-align: center;
      padding: 10px 0 0 0;
}

nav h4 span{
    width: 100%;

}

nav ul {
    padding: 0;
    display: flex;
    justify-content: center;

}

nav ul li{
    margin: 0 5px 10px 5px;
}

nav ul li a{
    font-size: 16px;


}

/* ==banner section== */

.banner{
    padding: 60px 0 70px;
    text-align: center;
    color: white;
   
}

.banner h3{
    font-style: italic;
    margin: 0 0 10px 0;
}

span{

    height: 3px;
    width: 120px;
    display: inline-block;
    border-radius: 10px;
}
.banner button{
    padding: 12px 22px;
    font-size: 18px;
    letter-spacing: 1px;
}

  }